# @author: Alan Yorinks
# Copyright (c) 2013 Alan Yorinks All right reserved.
#
# @co-author: Sjoerd Dirk Meijer, fromScratchEd.nl (language support)
# @co-author: Professor José Manuel Ruiz (Spanish translation)
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
#version 2.1 of the License, or (at your option) any later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

[translation_lists]
ln_languages = English,Dutch (NL),Spanish
ln_ENABLE = Enable,aan,Activar
ln_DISABLE =Disable,uit,Desactivar
ln_INPUT = Input,ingang,Entrada
ln_OUTPUT = Output,uitgang,Salida
ln_PWM = PWM,PWM,PWM
ln_SERVO = Servo,servo,Servo
ln_TONE = Tone,toon,Tono
ln_SONAR = SONAR,afstand,Sonar
ln_OFF = Off,uitgeschakeld,No
ln_ON = On,ingeschakeld,Si
