# @author: Alan Yorinks
# Copyright (c) 2013-2014 Alan Yorinks All right reserved.
#
# @co-author: Sjoerd Dirk Meijer, fromScratchEd.nl (language support)
# @co-author: Professor José Manuel Ruiz (Spanish translation)
# @co-author: Professor yufangjun (Chinese translation)
# @co-author: Sebastien Canet (French translation)
# @co-author: Aldo von Wangenheim, from www.computacaonaescola.ufsc.br (Portuguese translation)
# @co-author: Aldo von Wangenheim, from www.computacaonaescola.ufsc.br (German translation)
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
#version 2.1 of the License, or (at your option) any later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with this library; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

# NOTE: The Chinese and French translation strings are the values that are sent by the
#       Scratch program. Also, for French and Chinese, the translations in Snap! are written directly
#       into the blocks.

[translation_lists]
ln_languages = English,Dutch (NL),Spanish,��������(zh_cn),French(FR),Portuguese(PT),German(DE)
ln_ENABLE = Enable,aan,Activar,%u5141%u8BB8,Activer,Ativar,Setze
ln_DISABLE =Disable,uit,Desactivar,%u7981%u6B62,D%C3%A9sactiver,Desativar,Deaktiviere
ln_INPUT = Input,ingang,Entrada,%u8F93%u5165,entr%E9e,Entrada,Eingang
ln_OUTPUT = Output,uitgang,Salida,%u8F93%u51FA,sortie,Sa%EDda,Ausgang
ln_PWM = PWM,PWM,PWM,PWM,impulsion%20PWM,PWM,PWM
ln_SERVO = Servo,servo,Servo,%u8235%u673A,rotation%20Servo-moteur,Servo,Servo
ln_TONE = Tone,toon,Tono,%u97F3%u8C03,sortie%20Son,Som,Ton
ln_SONAR = SONAR,afstand,Sonar,%u8D85%u58F0%u6CE2,mesure%20Sonar,Ultrassom,Ultraschall
ln_OFF = Off,uitgeschakeld,No,%u5173,Arr%EAt,Não,Nein
ln_ON = On,ingeschakeld,Si,%u5F00,Marche,Sim,Ja
