# @author: Alan Yorinks
# Copyright (c) 2013-2014 Alan Yorinks All right reserved.
#
# @co-author: Sjoerd Dirk Meijer, fromScratchEd.nl (language support)
# @co-author: Professor José Manuel Ruiz (Spanish translation)
# @co-author: Professor yufangjun (Chinese translation)
# @co-author: Sebastien Canet (French translation)
# @co-author: Aldo von Wangenheim, from www.computacaonaescola.ufsc.br (Portuguese translation)
# @co-author: Aldo von Wangenheim, from www.computacaonaescola.ufsc.br (German translation)
# @co-author: Dr. Eungil Kim (Korean Translation)
# @co-author: Hsu Jen-Chieh (Chinese-TW translation)
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
#version 2.1 of the License, or (at your option) any later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with this library; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

# NOTE: The Chinese and French translation strings are the values that are sent by the
#       Scratch program. Also, for French and Chinese, the translations in Snap! are written directly
#       into the blocks.

[translation_lists]
ln_languages = English,Dutch (NL),Spanish,��������(zh_cn),French(FR),Portuguese(PT),German(DE),Korean(KO), Chinese(zh_tw)
ln_ENABLE = Enable,aan,Activar,%E5%85%81%E8%AE%B8,Activer,Ativar,Setze,%EC%82%AC%EC%9A%A9,%E5%95%9F%E7%94%A8
ln_DISABLE =Disable,uit,Desactivar,%E7%A6%81%E6%AD%A2,Desactiver,Desativar,Deaktiviere,%EB%AF%B8%EC%82%AC%EC%9A%A9,%E5%81%9C%E7%94%A8
ln_INPUT = Input,ingang,Entrada,%E8%BE%93%E5%85%A5,entree,Entrada,Eingang,%EC%9E%85%EB%A0%A5,%E8%BC%B8%E5%85%A5
ln_OUTPUT = Output,uitgang,Salida,%E8%BE%93%E5%87%BA,sortie,Sa%C3%ADda,Ausgang,%EC%B6%9C%EB%A0%A5,%E8%BC%B8%E5%87%BA
ln_PWM = PWM,PWM,PWM,PWM,impulsion%20PWM,PWM,PWM,%EC%A0%84%EB%A5%98%EC%A1%B0%EC%A0%88,PWM
ln_SERVO = Servo,servo,Servo,%E8%88%B5%E6%9C%BA,rotation%20Servo-moteur.,Servo,Servo,%EC%84%9C%EB%B3%B4%EB%AA%A8%ED%84%B0,%E4%BC%BA%E6%9C%8D%E6%A9%9F
ln_TONE = Tone,toon,Tono,%E9%9F%B3%E8%B0%83,sortie%20Son.,Som,Ton,%EC%8B%A0%ED%98%B8%EC%9D%8C,%E9%9F%B3%E8%AA%BF
ln_SONAR = SONAR,afstand,Sonar,%E8%B6%85%E5%A3%B0%E6%B3%A2,mesure%20Sonar.,Ultrassom,Ultraschall,%EC%9D%8C%ED%8C%8C%ED%83%90%EC%A7%80,%E8%B6%85%E9%9F%B3%E6%B3%A2
ln_OFF = Off,uitgeschakeld,No,%E5%85%B3,Arret,N%C3%A3o,Nein,%EB%81%84%EA%B8%B0,%E9%97%9C
ln_ON = On,ingeschakeld,Si,%E5%BC%80,Marche,Sim,Ja,%EC%BC%9C%EA%B8%B0,%E9%96%8B
